<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ceylon_linux.lucky_lanka"
          android:versionCode="1" android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait"
                 android:icon="@drawable/logo">
        <activity android:name=".activity.SplashActivity" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.HomeActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.LoadAddInvoiceActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.SelectItemActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.EnterItemDetailsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.DeviceListActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.PaymentActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.CashPaymentActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ChequePaymentActivity" android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
